/* Write your CSS here! */

body {
    margin: 8px;
    display: block;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

#postGrad {
    padding-left: 700px;
    padding-right: 700px;
}

h2 {
    text-align: center;
    background-color: dimgray;
}
