/* Write your CSS here! */

body {
    margin: 8px;
    display: block;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

h2 {
    text-align: center;
    background-color: dimgray;
}

footer {
    padding-top: 20px;
}

img {
    height: 10%;
    width: 10%;
    border: black;
    border-style: outset;
}
